@tailwind base;
@tailwind components;
@tailwind utilities;

#parallax {
    background-image: url('http://images.unsplash.com/photo-1471255618142-bc3ea8675f3a?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=');
    background-color: black;
    background-attachment: fixed;
    background-position-y: -0.2;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  section {
    transition: 0s linear;
    transition-property: background-position;
  }
  
  #two {
    background-color: #3498db;
  }
  
  #three {
    background-color: #e74c3c;
  }
  
  #section-container {
    padding-top: 16%
  }

 .container .content{
    text-align: center;
 }
 
 .container .content h3{
    font-size: 30px;
    color:#333;
 }
 
 .container .content h3 span{
    background: #ffffff;
    color:#fff;
    border-radius: 5px;
    padding:0 15px;
 }
 
 .container .content h1{
    font-size: 50px;
    color:#333;
 }
 
 .container .content h1 span{
    color:#FFB800;
 }
 
 .container .content p{
    font-size: 25px;
    margin-bottom: 20px;
 }
 
 .container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 
 .container .content .btn:hover{
    background: #FFB800;
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #000000;
 }
 
 .form-container form{
    padding:20px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
 }
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
 }
 
 .form-container form input,
 .form-container form select{
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
 }
 
 .form-container form select option{
    background: #fff;
 }
 
 .form-container form .form-btn{
    background: #fcd26a;
    color:#ffffff;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: #FFB800;
    color:rgb(0, 0, 0);
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color:#FFB800;
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: #FFB800;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
 body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.hidenn{
   opacity: 0;
   filter: blur(2px);
   transform: translateX(-100%);
   transition: all 1s;
}

.show{
   opacity: 1;
   filter: blur(0px);
   transform: translateX(0);
}

.section2animation{
   opacity: 0;
   transform: translateY(-5%);
   transition: all 3s;
}

.showw{
   opacity: 1;
   filter: blur(0px);
   transform: translateY(0);
}